* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    background-image: url('bgblu.webp');
    background-size: cover;
}

.glass-container {
    width: 400px; /* Adjusted width */
    padding: 40px 20px; /* Added padding for inner spacing */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
    position: relative;
}

.glass-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

.login-box {
    max-width: 100%;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

input {
    width: 80%; /* Adjusted width */
    padding: 10px;
    margin: 10px 0; /* Adjusted margin for spacing */
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
}

input::placeholder {
    color: #fff;
}

input:focus {
    outline: none;
}


button {
    width: 80%; /* Match input width */
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

p {
    font-size: 12px;
    color: #fff;
    margin: 15px 0;
}

.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s, color 0.3s;
}

.google-login-button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

.google-logo {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-right: 10px; /* Space between the logo and text */
}

#id {
    font-size: 12px;
    color: #fff;
    margin: 5px 0;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.hyperlink {
    text-decoration: none;
    color: white;
}

.hyperlink:active{
    text-decoration: none;
    color: rgb(0, 102, 255);
}

#signup-container {
    display: none;
}